@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prism.css';

html {
  height: 100vh;
  padding: 0px !important;
  overflow-x: hidden;
  scroll-padding-top: 64px;
}

body,
#__next {
  height: 100%;
}

@media screen and (max-width: 640px) {
  #app-container {
    height: 100dvh;
    overflow-x: hidden;
  }
}
