# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @jrgarciadev

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com