
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
coverage
types

# next.js
/.next/
.next/
/out/

# production
/build
lib/
dist/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.now
dist
esm
examples/**/yarn.lock
examples/**/out
examples/**/.next

.vercel

# ignore sitemap
packages/**/sitemap.xml

# turbo
.turbo
