
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
coverage

# next.js
/.next/
.next/
/out/

# production
/build
dist/
storybook-static
/packages/storybook/public/tailwind.css

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.idea
.now
dist
esm
examples/**/yarn.lock
examples/**/out
examples/**/.next
packages/**/*.backup
packages/**/*.backup.ts

.vercel

# ignore sitemap
apps/**/sitemap.xml

# turbo
.turbo
packages/**/.turbo

# content layer
.contentlayer
