{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@content": "./content",
          "@components": "./src/components",
          "@primitives": "./src/components/primitives",
          "@layouts": "./src/layouts",
          "@hooks": "./src/hooks",
          "@utils": "./src/utils",
          "@theme": "./src/theme",
          "@lib": "./src/lib"
        }
      }
    ]
  ]
}
